*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

#container{
    width: 100%;
    height: 100%;
}

nav{
    /* padding:; */
    height: 50px;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav p{
    /* color: green; */
    font-weight: 600;
}

.nav-1{
    /* display: inline; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-1 p{
    color: rgb(47, 132, 217);
}   

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list img{
    width: 40px;
    width: 40px;
}

#nav-down{
    height: 30px;
    background-color: rgb(47, 132, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#nav-down a{
    color: white;
    font-weight: 700;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main p{
    font-size: large;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.581);
}

#center{
    height: 200px;
    margin-top: 40px;
    /* border: 1px solid black; */
    width: 30em;
    
}

#center p{
    font-size: medium;
    font-weight: 900;
    background-color: rgb(170, 228, 170);
}

#box{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(246, 246, 246);
}

#down{
    margin-top: 10px;
    
}

#btn{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn button{
    margin: 5px;
    width: 70px
}

.box-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}